[Desktop Entry]
Name=xyz-logistics-hmi-front
Exec=/home/xyz/Desktop/xyz-logistics-hmi-1.6.3.AppImage
Terminal=false
Type=Application
Icon=/home/xyz/xyz_app/app/xyz-logistics-hmi-front/xyz-logistics-hmi-front.png
StartupWMClass=xyz-logistics-hmi-front
X-AppImage-Version=1.6.3
Categories=Utility;
