<launch>
    <arg name="yaml_path" default="$(env CODE_BASE)/app/scanner/scanner.yaml"/>
    <arg name="group_name" default="sku"/>

    <node name="barcode_scanner_server" pkg="xyz_barcode_scanner" ns="$(arg group_name)"
          type="barcode_scanner_server.py" output="screen"
          args="$(arg yaml_path) $(arg group_name)"/>
</launch>
