[Desktop Entry]
Name=wcs pallet show
Version=1.0
Type=Application
Categories=Application;
Exec=/home/xyz/xyz_app/app/wcs_pallet_json/wcs_pallet_show.sh
Icon=/home/xyz/xyz_app/app/wcs_pallet_json/wcs_pallet_show.png
Terminal=false
